body{
	background: #F2F2F2;
	font-family: Helvetica;
	background-image: url('image/bg.jpg');
	
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.kotak{
	width: 335px;
	background: #F2F2F2;
	margin: 100px auto;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #D1D1D1;
}

.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 14pt;
	border-radius: 5px;
	padding: 10px;	
}

.opt{
	font-size: 14pt;
	border: none;
	width: 180px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}

.tombol{
	background: #EC5159;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 14pt;
	border-bottom:4px solid #BF3D3D;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
}

.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}

.judul{
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: normal;
}